.cm-heading-1 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.3;
}

.cm-heading-2 {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.4;
}

.cm-heading-3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
}

.cm-heading-4 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5;
}
